.toggle {
  display: grid;
  place-items: center;
  width: var(--size-tactil);
  height: var(--size-tactil);
  border-radius: var(--radius-sm);
  color: var(--color-texto-2);
}

.toggle:hover {
  color: var(--color-texto);
}
